<p>Hey There!</p>
<p>
  You might want to know, <b>Someone added a comment for your place on Milonga Yelp.</b>
  Check it out <%= link_to 'here', place_url(@place) %>!
</p>

See you there,<br />
Xavier