@font-face {
    font-family: 'spiraxregular';
    src: font_url('spirax-regular-webfont.woff2') format('woff2'),
         font_url('spirax-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'webfontregular';
    src: font_url('rothenbg-webfont.woff2') format('woff2'),
         font_url('rothenbg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rechtmanplain';
    src: font_url('rechtmanplain-webfont.woff2') format('woff2'),
         font_url('rechtmanplain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}