@import "bootstrap";
/*@import url('https://fonts.googleapis.com/css?family=Philosopher');*/
@import "font-awesome";

h1, h2, h3 {
  margin: 0;
  padding: 0;
}
body {
  background: image_url('xv.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.navbar {
  background: image_url('cartographer.png');
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  margin-bottom: 0;
}
.navbar::after {
  /* background: image_url('cartographer.png'); */
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
.navbar:hover {
  background: image_url('cartographer.png');
  transform: scale(1, 1.1);
}
.navbar:hover::after {
  opacity: 1;
}
.navbar-inverse .navbar-brand {
  color: #F2340A;
  font-family: 'rechtmanplain';
  font-size: 300%;
  font-weight: 550;
  letter-spacing: -0.3px;
}
.clear {
  clear: both;
}
div.carousel-wrapper {
  margin-left: auto;
  margin-right: auto;
}
.carousel-item {
  height: 300px;
}
.carousel .slide {
  max-height: 300px;
  min-height: 300px;
  max-width: 1000px;
  min-width: 800px;
  overflow: hidden;
}
.carousel-inner {
  height: 300px;
  width: 1000px;
  top: 50%;
  left: 50%;
  margin-left: -500px;
}
.carousel-caption {
  font-family: 'rechtmanplain';
  font-weight: bold;
  font-size: 200%;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
.feat-box {
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
/*  display: flex; */
  transition: box-shadow .3s ease;
  margin-top: 10px;
  margin-bottom: 15px;
}
.sign-box {
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
/*  display: flex; */
  transition: box-shadow .3s ease;
  margin-top: 10px;
  margin-bottom: 15px;
}
.comment-box {
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
/*  display: flex; */
  transition: box-shadow .3s ease;
  margin-top: 10px;
  margin-bottom: 15px;
}
.photo-box {
  background: #FFFFFF;
  height: 150px;
}
.pic-container img {
  max-height: 150px;
  max-width: 150px;
}
.form-inputs {
  text-align: left;
}
.form-actions {
  text-align: right;
}
.pass-reset {
  text-align: center;
}
.error { /*notice for wrong user entry */
  color: #ff3333;
  background-color: #999999;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.paginate_container {
  background: image_url('cartographer.png');
}
.paginate_div_class {
  width: 300px;
  margin: auto;
}
.pagination {
  background: image_url('cartographer.png');
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #F2340A;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #4EEB23;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      font-weight: bold;
      transform: scale(1.1, 1.1);
      background: #E35D40;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }

#map {
  margin-top: 0;
  padding-top: 0;
  height: 250px;
}